<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="bar-chart"></div>
    <div id="pie-chart"></div>
    <h1>عدد البيانات: <%= uniqueId%></h1>
  </body>
  <script></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script
    src="/js/dashboard.js"
    data-data="<%= data %>"
    military-civilian-data="<%= military_civilian%>"
  ></script>
</html>
